/*  Tipografias  */

/* Para titulos */
@font-face {
    font-family: 'Oswald';
    src: url('../Oswald');
}

/* Para parrafos */
@font-face {
    font-family: 'Roboto';
    src: url('../Roboto');
}


/* ZONA DEL BANNER DE NAVEGACION */

#menu {

	display: flex;

}