/*  TIPOGRAFIAS  */

/* Para titulos */
@font-face {
    font-family: 'Oswald';
    src: url('../Oswald');
}

/* Para parrafos */
@font-face {
    font-family: 'Roboto';
    src: url('../Roboto');
}


/* ZONA DEL BANNER DE NAVEGACION */

/* estilo del logo en el banner */
header img {

	/* Tamano del logotipo */
	width: 2rem;

}


/* estilo de los enlaces */
header {

	/* La imagen y la lista la ponemos al mismo nivel */
	display: flex;

	/* Los centro a la misma altura */
	align-items: center;

	/* Solo separa la imagen */
	gap: 2rem;

	/* Para centrar todo al centro */
	justify-content: center;

}



#menu {

	/* El display flex cambia la lista de vertical a horizontal */
	display: flex;

	/* Quitan todos los espacios que vienen por defecto */
	padding: 0;
	margin : 0;

	/* Separacion entre los links del banner */
	gap: 2rem;

	/* quita los puntos negros */
	list-style: none;
}	


#menu a {

	/* color letra enlaces */
	color: #000000;

	/* Quito el subrayado */
	text-decoration: none;

}


main img {

	width: 100%;

}