/*  TIPOGRAFIAS  */

/* Para titulos */
@font-face {
    font-family: 'Oswald';
    src: url('../Oswald');
}

/* Para parrafos */
@font-face {
    font-family: 'Roboto';
    src: url('../Roboto');
}


/* ZONA DEL BANNER DE NAVEGACION */

header {

	/* La imagen y la lista la ponemos al mismo nivel */
	display: flex;

	/* Los centro a la misma altura */
	align-items: center;

	/* Solo separa la imagen */
	gap: 2rem;

}


header img {

	/* Tamano del logotipo */
	width: 2rem;

}


#menu {

	/* El display flex cambia la lista de vertical a horizontal */
	display: flex;

	/* Quitan todos los espacios que vienen por defecto */
	padding: 0;
	margin : 0;

	/* Separacion entre los links del banner */
	gap: 2rem;

	/* color letra enlaces */
	color: #000000;

	/* QUITAR LOS ESTILOS POR DEFECTO */

	/* quita los puntos negros */
	list-style: none;

	/* Quito el subrayado */
	text-decoration: none;

	/* Tamano de la letra */
	font-size: bold;

}	


main img {

	width: 100%;

}