/* ESTILO GENERAL DE LA PAGINA */
body {
    /* Fondo de la pagina general */
    background-color: #ffffff;
    /* Fuente principal moderna de Google Fonts */
    font-family: 'Outfit', sans-serif;
}


/* ESTILO DEL BANNER DE NAVEGACION */
header {
    /* Para alinear el logo y los enlaces horizontalmente */
    display: flex;

    /* Centrar los elementos horizontalmente */
    justify-content: center;

    /* Alinear los elementos verticalmente al centro */
    align-items: center;

    /* Espacio entre el logo y el enlace */
    gap: 30px;

    /* Espaciado superior e inferior */
    padding: 20px 0;
}


/* ESTILO DEL LOGOTIPO */
.logo {
    /* Ancho máximo del logotipo */
    max-width: 40px;

    /* Altura automática */
    height: auto;
}


/* ESTILO DEL ENLACE DE NAVEGACION */
.nav-link {
    /* Color del enlace */
    color: #333;

    /* Quitar subrayado por defecto */
    text-decoration: none;

    /* Fuente en negrita */
    font-weight: 600;

    /* Tamaño de fuente */
    font-size: 1.1rem;

    /* La fuente */
    font-family: 'Outfit', sans-serif;
}


/* ESTILO DEL ENLACE DE NAVEGACION AL PASAR EL RATON */
.nav-link:hover {
    /* Efecto al pasar el ratón por encima */
    color: #000;
    text-decoration: underline;
}


/* ESTILOS DE PRESENTACION */
.hero-banner {
    /* Alinear texto al centro horizontalmente */
    text-align: center;

    /* Configuración flexbox para centrar contenido verticalmente */
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* Altura mínima para ocupar gran parte de la pantalla (80% del viewport) */
    min-height: 80vh;

    /* Espaciado interno horizontal (vertical se ajusta por flexbox) */
    padding: 0 20px;

    /* Imagen de fondo */
    background-image: url('Imagenes/KZ-AS16-Pro-X-16-Balanced-Armature-Drivers-IEM-_2_24d75047-b018-4afa-bac1-231a81f72ddc.webp');

    /* Ajustar imagen al contenedor */
    background-size: cover;

    /* Centrar imagen de fondo */
    background-position: center;

    /* Evitar repetición de imagen */
    background-repeat: no-repeat;

    /* Sombreado interior */
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

/* ESTILO DEL TITULO PRINCIPAL */
.hero-title {
    /* Tamaño de fuente */
    font-size: 5rem;

    /* Peso de la fuente */
    font-weight: 800;

    /* Margen superior */
    margin-top: 0;

    /* Margen inferior */
    margin-bottom: 10px;

    /* Color del texto */
    color: #ffffff;
}

/* ESTILO DEL SUBTITULO */
.hero-subtitle {
    /* Tamaño de fuente */
    font-size: 1.5rem;

    /* Peso de la fuente */
    font-weight: 400;

    /* Color del texto */
    color: #e0e0e0;

    /* Eliminar margen por defecto */
    margin: 0;
}